body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

h2 {
  color: #343a40;
  margin-bottom: 20px;
}

section {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #282c34;
  color: white;
}

footer p {
  margin: 0;
}

html, body, #root {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* ocupa el espacio disponible */
}
